<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jarda.hotelforms" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reservation"
            android:label="@string/title_activity_reservation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />
        </activity>
        <activity
            android:name=".Service"
            android:label="@string/title_activity_service"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />
        </activity>
        <activity
            android:name=".Rooms"
            android:label="@string/title_activity_rooms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Ordinary"
            android:label="@string/title_activity_ordinary"
            android:parentActivityName=".Rooms"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.Rooms" />
        </activity>
        <activity
            android:name=".Luxury"
            android:label="@string/title_activity_luxury"
            android:parentActivityName=".Rooms"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.Rooms" />
        </activity>
        <activity
            android:name=".English"
            android:label="@string/title_activity_english"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />
        </activity>
        <activity
            android:name=".Roomss"
            android:label="@string/title_activity_roomss"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jarda.hotelforms.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
